<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @discussion.Date %>
</p>

<p>
  <b>Time:</b>
  <%= @discussion.Time = @discussion.created_at.strftime(" %I:%M:%S %p ") %>
</p>

<p>
  <b>Name:</b>
  <%= @discussion.Name %>
</p>

<p>
  <b>Message:</b>
  <%= @discussion.Message %>
</p>


<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
