<h2>Logged in: <%= @s.email %></h2>
<%= form_for(@instructorcourse) do |f| %>
  <% if @instructorcourse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructorcourse.errors.count, "error") %> Prohibited this instructor's course from being saved:</h2>

      <ul>
      <% @instructorcourse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instructoremail %><br />
    <%= f.text_field :instructoremail, :value=>@s.email %>
  </div>
  <div class="field">
    <%= f.label :coursecode %><br />
    <%= f.text_field :coursecode %>
  </div>
  <div class="field">
    <%= f.label :coursename %><br />
    <%= f.text_field :coursename %>
  </div>
  <div class="field">
    <%= f.label :coursedescription %><br />
    <%= f.text_field :coursedescription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
