<p id="notice"><%= notice %></p>

<p>
  <b>Instructor Email:</b>
  <%= @instructorcourse.instructoremail %>
</p>

<p>
  <b>Course Code:</b>
  <%= @instructorcourse.coursecode %>
</p>

<p>
  <b>Course Name:</b>
  <%= @instructorcourse.coursename %>
</p>

<p>
  <b>Course Description:</b>
  <%= @instructorcourse.coursedescription %>
</p>


<%= link_to 'Edit', edit_instructorcourse_path(@instructorcourse) %> |
<%= link_to 'Back', instructorcourses_path %>
<%= link_to 'Back to My Profile', ('/instructor1s/'+@idd) %>
