<%= form_for(@instructor1) do |f| %>
  <% if @instructor1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor1.errors.count, "error") %> prohibited this instructor1 from being saved:</h2>

      <ul>
      <% @instructor1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :DoB %><br />
    <%= f.date_select :DoB %>
  </div>
  <div class="field">
    <%= f.label :Full_Name %><br />
    <%= f.text_field :Full_Name %>
  </div>
  <div class="field">
    <%= f.label :Your_Description %><br />
    <%= f.text_field :Your_Description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
