<h1>Listing studentcourses</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Coursecode</th>
    <th>Date of joining</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studentcourses.each do |studentcourse| %>
  <tr>
    <td><%= studentcourse.email %></td>
    <td><%= studentcourse.coursecode %></td>
    <td><%= studentcourse.date_of_joining %></td>
    <td><%= link_to 'Show', studentcourse %></td>
    <td><%= link_to 'Edit', edit_studentcourse_path(studentcourse) %></td>
    <td><%= link_to 'Destroy', studentcourse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Studentcourse', new_studentcourse_path %>
